:root {
    --color-1: #EF476F; /* (239, 71, 111) */
    --color-2: #FFD166; /* (255, 209, 102) */
    --color-3: #06D6A0; /* (6, 214, 160) */
    --color-4: #118AB2; /* (17, 138, 178) */
    --color-5: #073B4C; /* (7, 59, 76) */
}

body {
    background-color: var(--color-3);
}

.header {
    text-align: center;
    color: var(--color-5);
}

.reverb-container {
    background-color: var(--color-5);
    width: 100%;
    height: 80%;
}

.info-block {
    line-height: 0.5em;
}